<div class="container about-container">
    <div class="row py-5">
      <div class="col-12 d-flex flex-column justify-content-center">
        <h2 class="mb-3">About Noxe</h2>
        <p class="text-secondary">
          Welcome to Noxe, your ultimate destination for discovering trending movies, TV shows, and people. Our platform curates the most watched and talked about content, providing you with up-to-date insights into what's hot in the entertainment world.
        </p>
        <p class="text-secondary">
          At Noxe, we strive to bring you an effortless and enjoyable browsing experience. Whether you're a movie buff, a TV series enthusiast, or just curious about the latest trends, we've got you covered. Dive into our curated lists, explore detailed information, and stay connected with your favorite entertainment.
        </p>
        <p class="text-secondary">
          Our mission is to connect you with the entertainment you love. We continuously update our platform with the latest releases and trending content, ensuring that you always have something new and exciting to watch.
        </p>
        <p class="text-secondary">
          Noxe is more than just a database. We provide detailed information about movies, TV shows, and the people behind them. From cast and crew details to production histories and viewer ratings, our comprehensive data helps you dive deep into the world of entertainment.
        </p>
        <p class="text-secondary">
          Join us at Noxe and become part of a community that celebrates the magic of movies and TV shows. Stay informed, get inspired, and enjoy every moment of your entertainment journey with us.
        </p>
      </div>
    </div>
  </div>
  