<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-info" href="#">Noxe</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul *ngIf="isLogin" class="navbar-nav me-auto mb-2 mb-lg-0"> 
          <li class="nav-item">
            <a class="nav-link " routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="movies">Movies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="tvShow">Tv shows</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="people">People</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="network">Networks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="about">About</a>
          </li>
        </ul>

        <div class="d-flex align-items-center ms-auto">
            <input type="text" class="form-control" placeholder="Search ..." id="">

            <ul class="list-unstyled d-flex mb-0">
                <li class="mx-2"><i class="fab fa-facebook"></i></li>
                <li class="mx-2"><i class="fab fa-x-twitter"></i></li>
                <li class="mx-2"><i class="fab fa-instagram"></i></li>
                <li class="mx-2"><i class="fab fa-youtube"></i></li>

            </ul>

            <ul class="list-unstyled d-flex mb-0">
                <li *ngIf="!isLogin" class="mx-2"><a class="nav-link" routerLink="register">Register</a></li>
                <li *ngIf="!isLogin" class="mx-2"><a class="nav-link" routerLink="login">Login</a></li>
                <li *ngIf="isLogin" class="mx-2" (click)="logOut()"><a class="nav-link cursor-pointer">Logout</a></li>
                <li *ngIf="isLogin" class="mx-2"><a class="nav-link" routerLink="setting">Profile</a></li>
            </ul>
        </div>

      </div>
    </div>
  </nav>