<div class="tvShow-header d-flex align-items-center mb-3 position-relative">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <h2 class="text-center fw-bold">FIND A TV SHOW</h2>
      <input [(ngModel)]="term" type="text" (input)="search(term)" class="form-control bg-transparent text-white" placeholder="Search ...">
    </div>
  </div>
</div>

<div class="container pe-5">
  <app-loading *ngIf="tvData?.length == 0"></app-loading>

  <div class="row">
    <div class="col-md-3 my-3" *ngFor="let tv of displayedTvData">
      <app-item [info]="tv"></app-item>
    </div>
  </div>

  <nav aria-label="..." class="d-flex justify-content-center align-items-center my-4" *ngIf="pages.length > 1">
    <ul class="pagination">
      <li *ngFor="let page of pages" (click)="onPageChange(page)" class="page-item">
        <a class="page-link">{{page}}</a>
      </li>
    </ul>
  </nav>
</div>
