<div class="container py-5">
<div class="row">
    <h1 class="mb-5">Profile</h1>
    <div *ngIf="user">
        <ul class="list-unstyled">
            <li class="mb-4 text-secondary">First Name: <span class="text-white fw-bold">{{ user.first_name }}</span></li>
            <li class="mb-4 text-secondary">Last Name: <span class="text-white fw-bold">{{ user.last_name }}</span></li>
            <li class="mb-4 text-secondary">Age: <span class="text-white fw-bold">{{ user.age }}</span></li>
            <li class="mb-4 text-secondary">Email: <span class="text-white fw-bold">{{ user.email }}</span></li>
        </ul>
    </div>
    <div *ngIf="!user">
      <p>Loading...</p>
    </div>
</div>
  </div>
  


  